.news-content .data[data-v-e51fb9c0] {
    min-width: 50px;
}
.round-button[data-v-14d77ebc] {
    margin-right: 2px !important;
}
.log,
.keyboard-title,
.button.delete,
.button.submit,
.progress .bar .text[data-v-9874876c],
.ribbon>div,
.ribbon>div:last-child,
.message-header[data-v-612c9cc6],
.news-header[data-v-e51fb9c0],
.debriefing-header[data-v-498e34a2],
.box .item[data-v-d3054198]
{
    text-transform: uppercase;
}

.debriefing-content>div .blur, .debriefing-content>div .name {
    transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-block !important;
    opacity: 0;
}
.debriefing-content>div:hover .blur, .debriefing-content>div:hover .name {
    opacity: 1;
}
.box .item, .fa {
    transition: color 0.3s ease;
}